html
  head
    title I am the fold
    meta(name="viewport" content="width=device-width initial-scale=1")
    meta(name="description" content="An experiment to show how designing for The Fold can be treacherous")

    link(href='http://fonts.googleapis.com/css?family=Fira+Mono:400,700' rel='stylesheet' type='text/css')

    script.
      var xhr = new XMLHttpRequest();
      var obj = {fold: window.screen.availHeight};

      xhr.open('POST', '/fold', true);
      xhr.setRequestHeader('Content-type', 'application/json');
      xhr.send(JSON.stringify(obj));

    style.
      body,
      ul {
        padding: 0;
        margin: 0;
      }
      body {
        font: 1em/1.4 "Fira Mono", "Menlo", monospace;
        background: #FFF;
        color: #2A2A2A;
        text-align: center;
      }
      a {
        color: #333;
        font-weight: bold;
      }
      h1 {
      margin: 0 0 0.25em;
      }
      ul {
        background: #2A2A2A;
        color: #FFF;
      }
      li {
        position: absolute;
        list-style: none;
        border-top: 1px solid #FFF;
        width: 100%;
        z-index: 1;
        opacity: 0.25;
      }
      li:hover {
        z-index: 100000;
        opacity: 1;
      }
      li:hover span {
        background: #FFF;
        color: #2A2A2A;
      }
      li span {
        background: #2A2A2A;
      }
      header {
        padding: 1em;
        position: relative;
        z-index: 2;
        background: #FFF;
      }
      header p {
        text-align: left;
        max-width: 55em;
        margin: 0 auto 0.5em;
      }
      header p span {
        color: red;
      }
      footer {
        font-size: 80%;
        padding: 1em;
        max-width: 55em;
        margin: 0 auto;
      }
      footer p {
        text-align: left;
      }
  body
    header
      :markdown
        # I am the fold

        An experiment to show how designing for The Fold can be treacherous. Each line below is a past-visitor's viewport height. Take care when making assumptions about people's screen sizes on the web.

        Made with <span>❤</span> by [@_iest](http://twitter.com/_iest) | Born from an [article](http://www.jordanm.co.uk/post/110325451951/i-am-the-fold) and a [tweet](https://twitter.com/jordanmoore/status/563980959901843456) by [Jordan Moore](http://jordanm.co.uk) | [Source on Github](https://github.com/iest/i-am-the-fold)

    ul(style="height: #{tallest}px")
      each fold, i in folds
        li(style='top: #{fold}px;')
          span=fold

    footer
      :markdown
        Lines shown are unique viewport heights. That means that no matter how many visitors have the same viewport height, the line will only be drawn once.

        This is meant to show the diversity of viewports, not the popularity of them.

        On page load, I grab the viewport and send it back to the server. Due to abuse however, I limit the number of requests a single IP can make. I know this limits the number of "folds" that will be drawn (e.g. any agency/company/whatever will only have a few IP addresses, so multiple visitors from within the same network will only register one line), but I couldn't think of a simpler way to limit abuse of the site.

        Think this is cool/awesome/meh? Let me know on [twitter](https://twitter.com/_iest). Full write up coming soon on my personal site, [iest.co](http://iest.co).
