@tailwind base;
@tailwind components;
@tailwind utilities;

  body,
  ul {
    padding: 0;
    margin: 0;
  }
  body {
    font-family: "Fira Mono", "Menlo", monospace;
  }
  a {
    color: #333;
    font-weight: bold;
    text-decoration: underline;
  }
