
body,
ul {
  padding: 0;
  margin: 0;
}
body {
  font: 1em/1.4 "Fira Mono", "Menlo", monospace;
  background: #FFF;
  color: #2A2A2A;
  text-align: center;
}
a {
  color: #333;
  font-weight: bold;
}
h1 {
margin: 0 0 0.25em;
}
ul {
  background: #2A2A2A;
  color: #FFF;
}
li {
  position: absolute;
  list-style: none;
  border-top: 1px solid #FFF;
  width: 100%;
  z-index: 1;
  opacity: 0.1;
}
li:hover {
  z-index: 100000;
  opacity: 1;
}
li:hover span {
  background: #FFF;
  color: #2A2A2A;
}
li span {
  background: #2A2A2A;
}
header {
  padding: 1em;
  position: relative;
  z-index: 2;
  background: #FFF;
}
header p {
  text-align: left;
  max-width: 55em;
  margin: 0 auto 0.5em;
}
header p span {
  color: red;
}
footer {
  font-size: 80%;
  padding: 1em;
  max-width: 55em;
  margin: 0 auto;
}
footer p {
  text-align: left;
}
noscript {
  color: red;
}
